<div class="container text-center">
  <div class="row">
    <div class="col">
      <div class="box content-wrapper">
        <h1>Welcome to [ VidClip ] 📹</h1>
        <img src="assets/tutorial.png" class="logo" alt="" />
        <h2>What’s VidClip?</h2>
        <hr />
        <p>
          Hi 👋 Mi name is Roddy R. Tejeda Rosario 👨‍💻 a Web Developer, and
          VidClip is an small project for my porfolio about Generate Videos of
          any topic you want and for you.
        </p>
        <hr />
        <p>
          [ Example ] If you are a Content Creator and you need Videos about
          Nature, you can go to the “Search Videos” and Write Nature. and you
          will get some videos about Nature. That’s all 😊.
        </p>
        <hr />
        <h2>
          Of course, if you are interested in what i used for to make this Web
          App:
        </h2>
        <p>
          So, i used: Angular, Asp.net Core and the Pexel Api (You can Find the
          link in the Footer or THE Final of the Page)
        </p>
        <H2> Have a nice Day 😉!</H2>
      </div>
    </div>
  </div>
</div>
