<footer class="text-center text-white">
  <div class="container pt-4">
    <section class="mb-4">
      <div class="btn-group shadow-5" role="group">
        <a href="https://github.com/Roddy-21-25" target="_blank">
          <button type="button" class="btn btn-light" data-mdb-color="dark">
            Github
          </button>
        </a>
        <a href="https://twitter.com/Roddy2125_" target="_blank">
          <button type="button" class="btn btn-light" data-mdb-color="dark">
            Twitter
          </button>
        </a>
        <a href="https://www.linkedin.com/in/roddy-2125-rafael/" target="_blank">
          <button type="button" class="btn btn-light" data-mdb-color="dark">
            Linkedin
          </button>
        </a>
        <a href="mailto:roddy3889@gmail.com" target="_blank">
          <button type="button" class="btn btn-light" data-mdb-color="dark">
            Email
          </button>
        </a>
      </div>
    </section>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.083)">
    © 2023 Copyright && Important Information:
    <br />
    <hr />
    <p>
      [ This App is just a project for my porfolio ] && [ I use the Pexel Api, Click here =>
      <a class="pexels" target="_blank"
        href="https://www.pexels.com/api/documentation/?language=csharp#introduction"
      >  Pexel Api Link</a>
      ]
    </p>
  </div>
</footer>
